<div class="bg-image d-flex w-100 h-100 justify-content-end align-items-center">
  <div class="mr-5">
    <h1 class="text-light main-title">Cinema Ironhack</h1>

    <a href="/movies" class="btn btn-lg rounded-pill btn-light">Check the movies!</a>
  </div>
</div>