<form action="/create-movie" method="POST" class="d-flex flex-column w-50 p-5">
  <label>Title</label>
  <input type="text" name="title" />

  <label>Director</label>
  <input type="text" name="director" />

  <label>Stars</label>
  <textarea name="stars" rows="3" placeholder="Type in the name of the movie stars separated by commas"></textarea>

  <label>Image</label>
  <input type="text" name="image" />

  <label>Description</label>
  <textarea rows="3" name="description"></textarea>

  <label>Showtimes</label>
  <textarea name="showtimes" rows="3" placeholder="Type in the showtimes separated by commas"></textarea>

  <button type="submit">Send</button>
</form>