<div class="container mt-5">
  <div class="row">

    {{#each movies}}
    <div class="col-xs-12 col-sm-6 col-md-4 text-center mb-3">
      <picture>
        <img alt="{{this.title}} cover" src="{{this.image}}" />
        <figcaption class="font-weight-bold">{{this.title}}</figcaption>
        <a href="/movie/{{this._id}}">See more</a>
      </picture>
    </div>
    {{/each}}

  </div>
</div>